<nav
  class="
    flex flex-row flex-wrap flex-grow-1
    items-baseline
    justify-evenly
    text-red-800 text-2xl text-center
  "
  role="navigation"
>
  <a
    class="block tab py-6 w-1/2 px-4 relative"
    [routerLinkActive]="['bg-red-800', 'text-gray-200']"
    [routerLink]="'/transit-route'"
  >
    <h2>By Route</h2>
  </a>
  <a
    class="block tab w-1/2 py-6 px-4 relative"
    [routerLinkActive]="['bg-red-800', 'text-gray-200']"
    [routerLink]="'/transit-stop'"
  >
    <h2>By Stop #</h2>
  </a>
</nav>
<router-outlet></router-outlet>
