<div
  class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12"
>
  <div class="relative py-3 sm:max-w-5xl sm:mx-auto md:w-10/12">
    <main class="relative py-10 bg-white shadow-lg sm:rounded-3xl">
      <div class="max-w-5xl mx-auto text-black sm:px-20 py-3">
        <h1 class="text-4xl">Real-time Departures</h1>
      </div>
      <div class="divide-y divide-gray-200 sm:p-5">
        <nt-departures-toggle></nt-departures-toggle>

        <div class="pt-6 text-base leading-6 font-bold sm:text-lg sm:leading-7">
          <p>Want to learn more?</p>
          <p>
            <a
              class="text-cyan-600 hover:text-cyan-700"
              target="_blank"
              href="https://github.com/cwgruss/NextTrip-Transit-Study"
            >
              Read the docs &rarr;
            </a>
          </p>
        </div>
      </div>
    </main>
  </div>
</div>
